body{
    background-color:bisque;
    text-align:center;
    width: 100vw;
}

#title {
    box-shadow:1px 1px 3px 0px rgba(70, 70, 70, 10);
    background-color:aquamarine;
    width:90vw;
    display: inline-block;
}

#inputText{
    box-shadow:5px 5px 3px 0px rgba(70, 70, 70, 10);
    font-size:23px;
    font-weight:bold;
    width:85vw;
}



#button{
    width:130px;
    height:40px;
        font-size:23px;
    font-weight:bold;
}

.textarea {
    box-shadow:1px 1px 3px 0px rgba(70, 70, 70, 10);
    width: 45vw;
    height: 200px;
    font-size:23px;
    color: black;
    font-weight:bold;
    margin-left: 20px;
    margin-right: 20px;
    background-color:white;
}

.block {
    float: left;
}

#block2{
  display: inline-block;
  text-align: left;
}
