body{
    background-color:bisque;
    width:800px;
    margin:0 auto;

    padding-left: 0px;
    padding-top: 0px;
}

#title {
    box-shadow:1px 1px 3px 0px rgba(70, 70, 70, 10);
    background-color:aquamarine;
}

#inputText{
    box-shadow:5px 5px 3px 0px rgba(70, 70, 70, 10);
    font-size:23px;
    font-weight:bold;
    width:800px;
}



#button{
    width:130px;
    height:40px;
        font-size:23px;
    font-weight:bold;
}

.textarea {
    box-shadow:1px 1px 3px 0px rgba(70, 70, 70, 10);
    width: 300px;
    height: 200px;
    font-size:23px;
    font-weight:bold;
    margin-left: 20px;
    margin-right: 20px;
}

.block {
    float: left;
}